@model ICollection<Movie>


<div class="flex gap-[20px] bg-[#1E1F2C] p-[20px] flex-wrap justify-between">

    @{
        if (Model.Count ==0)
        {

            <h1 class="text-center w-[100%] text-[36px] text-[wheat]">Not Found Result</h1>
        }
        else
        {
            foreach (var movie in @Model)
            {
                <div class="p-[10px] rounded-[5px] border-[2px] border-[#c8c8c8]">
                    <div class="p-[10px] border-b   border-b-[#c8c8c8]">
                        <h3 class="text-white text-[20px]">@movie.Name</h3>
                    </div>
                    <div class="py-[10px] flex gap-[50px]">
                        <div>
                            <img class="max-w-[300px]" src="~/images/movies/@movie.ImgUrl" alt="Alternate Text" />
                        </div>
                        <div class="detailsToMovie flex flex-col gap-[20px] text-white">
                            <h3>
                                Price: $<span>@movie.Price</span>
                            </h3>
                            <h3>
                                Cinema: <span>@movie.Cinema.Name</span>
                            </h3>
                            <h3>
                                Start Date: <span>@movie.StartDate</span>
                            </h3>
                            <h3>
                                End Date: <span>@movie.EndDate</span>
                            </h3>
                            <h3>
                                Category: <span>@movie.Category.Name</span>
                            </h3>
                            @if (@movie.MovieStatus == WebsiteMovies.Enums.MovieStatus.Avlailable)
                            {
                                <span class="bg-[#0077cc] w-fit p-[5px_10px] rounded-[5px]">
                                    @movie.MovieStatus
                                </span>
                            }
                            @if (@movie.MovieStatus == WebsiteMovies.Enums.MovieStatus.UpComing)
                            {
                                <span class="bg-[#c6c6c6] w-fit p-[5px_10px] rounded-[5px]">
                                    @movie.MovieStatus
                                </span>
                            }
                            @if (@movie.MovieStatus == WebsiteMovies.Enums.MovieStatus.Expired)
                            {
                                <span class="bg-red-600 w-fit p-[5px_10px] rounded-[5px]">
                                    @movie.MovieStatus
                                </span>
                            }
                            <div>
                                <a href="/Movie/SingleMove?MovieId=@movie.Id" class="border-[1px] border-[#777] p-[5px_10px] duration-200 rounded-[5px] hover:bg-[#0077cc]">More Details</a>
                                <a href="" class="border-[#777] p-[5px_10px] duration-500 bg-[#c6c6c6] rounded-[5px] hover:bg-[none]">Book Tiket</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    }
</div>