@model MovieVm

@{
    var selectList = new
    SelectList(ViewData["Categories"] as List<Category>, "Id", "Name");
    var selectListCinema = new
           SelectList(ViewData["Cinemas"] as List<Cinema>, "Id", "Name");

    var Cinema = ViewData["Cinema"] as Cinema;
    var category = ViewData["Category"] as Category;

}

<div class="bg-[#1E1F2C]">
    <div class="flex p-[30px] gap-[50px] items-center">
        <div>
            <img src="@(Model.ImgUrl.Contains("https") ? Model.ImgUrl
    : Url.Content($"~/images/movies/{Model.ImgUrl}"))"
                 class="!w-[400px] !h-[500px] rounded-[10px]" alt="Alternate Text" />
        </div>
        <div class="flex flex-col gap-[30px]">
            <div class="flex flex-col gap-[10px]">
                <div class="w-full flex justify-between items-center">
                    <h1 class="text-white text-[25px]">@Model.Name</h1>
                    <i class="bi bi-pencil-square ModelOpen cursor-pointer text-primary text-[25px]"></i>
                </div>
                <h3 class="text-white text-[20px]">
                    Price: <span class="bg-[#c6c6c6] text-black p-[5px_20px] rounded-[5px]">$@Model.Price</span>
                </h3>
                <h3 class="text-white text-[20px]">
                    Cinema: <span>@Cinema.Name </span>
                </h3>
                <h3 class="text-white text-[20px]">
                    Category: <span>@category.Name</span>
                </h3>
                <h3 class="text-white text-[20px]">
                    Start Date: <span>@Model.StartDate</span>
                </h3>
                <h3 class="text-white text-[20px]">
                    End Date: <span>@Model.EndDate</span>
                </h3>
                <div class="flex gap-[10px]">
                    @{
                        foreach (var actor in ViewData["Actors"] as List<Actor>)
                        {
                            <a href="/Actor/GetOneActor?ActorId=@actor.Id">
                                <img class="w-[70px] h-[70px] cursor-pointer rounded-[50%]" src="~/images/cast/@actor.ProfilePicture" alt="Alternate Text" />
                            </a>

                        }
                    }
                </div>
                <p class="text-white text-[20px]">
                    @Model.Description
                </p>
            </div>

            <video controls="controls" class="w-[500px] rounded-[10px]">
                <source src="~/videos/Jumanji.mp4" type="video/mp4" />
                <source src="~/videos/Jumanji.mp4" type="video/webm" />
                <source src="~/videos/Jumanji.mp4" type="video/ogg" />
            </video>

            <button class="bg-[#086FCC] text-white text-[20px] p-[5px_10px] w-fit rounded-[5px]">
                Book Ticket
            </button>
        </div>
    </div>
</div>

<div class="relative z-10 hidden ModalForm" aria-labelledby="modal-title" role="dialog" aria-modal="true">
    <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
        <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
            <div class="relative transform  overflow-hidden  rounded-[5px] bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
                <div class="flex justify-center bg-MainColor items-center py-[10px]">
                    <form asp-action="EditMovie" method="post" class="flex justify-center items-center gap-[10px] w-[400px] flex-col text-white">
                        <input type="hidden" asp-for="Id" value="@Model.Id" />
                        <input type="hidden" asp-for="CinemaId" />
                        <div class="flex flex-col gap-[10px] w-full">
                            <label asp-for="Name">Name</label>
                            <input asp-for="Name" class="border-0 w-full outline-none rounded-[10px] text-[18px] text-[rgb(80_77_77)] p-[5px_20px]" />
                            <span asp-validation-for="Name" class="text-red-500 w-full"> </span>
                        </div>
                        <div class="flex flex-col w-full gap-[10px]">
                            <label asp-for="Description">Description</label>
                            <textarea asp-for="Description" class="border-0 w-full outline-none rounded-[10px] text-[18px] text-[rgb(80_77_77)] p-[5px_20px]"></textarea>
                            <span asp-validation-for="Description" class="text-red-500 w-full"> </span>
                        </div>
                        <div class="flex flex-col w-full gap-[10px]">
                            <label asp-for="Price">Price</label>
                            <input asp-for="Price" class="border-0 w-full outline-none rounded-[10px] text-[18px] text-[rgb(80_77_77)] p-[5px_20px]" />
                            <span asp-validation-for="Price" class="text-red-500 w-full"> </span>
                        </div>
                        <div class="flex flex-col gap-[10px] w-full">
                            <label asp-for="ImgUrl">Image URL</label>
                            <input asp-for="ImgUrl" class="border-0 outline-none w-full rounded-[10px] text-[18px] text-[rgb(80_77_77)] p-[5px_20px]" />
                            <span asp-validation-for="ImgUrl" class="text-red-500 w-full"> </span>
                        </div>
                        <div class="flex flex-col gap-[10px] w-full">
                            <label asp-for="StartDate">Start Date</label>
                            <input asp-for="StartDate" class="border-0 w-full outline-none rounded-[10px] text-[18px] text-[rgb(80_77_77)] p-[5px_20px]" />
                            <span asp-validation-for="StartDate" class="text-red-500 w-full"> </span>
                        </div>
                        <div class="flex flex-col gap-[10px] w-full">
                            <label asp-for="EndDate">End Date</label>
                            <input asp-for="EndDate" class="border-0 w-full outline-none rounded-[10px] text-[18px] text-[rgb(80_77_77)] p-[5px_20px]" />
                            <span asp-validation-for="EndDate" class="text-red-500 w-full"> </span>
                        </div>
                        <div class="flex flex-col gap-[10px] w-full">
                            <label asp-for="TrailerUrl">Trailer URL</label>
                            <input asp-for="TrailerUrl" class="border-0 w-full outline-none rounded-[10px] text-[18px] text-[rgb(80_77_77)] p-[5px_20px]" />
                            <span asp-validation-for="TrailerUrl" class="text-red-500 w-full"> </span>
                        </div>
                        <div class="flex flex-col gap-[10px] w-full">
                            <label asp-for="CategoryId">Category</label>
                            <select asp-for="CategoryId" asp-items="@selectList" class="border-0 w-full outline-none rounded-[10px] text-[18px] text-[rgb(80_77_77)] p-[5px_20px]">
                            </select>
                            <span asp-validation-for="TrailerUrl" class="text-red-500 w-full">
                            </span>
                        </div>
                        <button type="submit" class="border-0 outline-none p-[10px_20px] w-[100%] rounded-[10px] bg-primary">Edit Movie</button>
                    </form>
                </div>
                <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
                    <button type="button" class="mt-3 inline-flex w-full closeBtn justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section SingleScript {
    <script src="~/js/DetilaPage.js"></script>

}